<div id="menu-category-{{title}}" class="menucategory accordion-heading row">
  {{!-- <img src="images/{{icon}}"> --}}
  <h2 class="accordion-toggle">{{title}}</h2>
</div>

<div class="accordion-body">
  <div class="accordion-inner"></div>
</div>