<div id="develop-show-layout">
  <div id="header-region">
{{!--     <div id="header">
      <h1>World Christian Track</h1> 
    </div> --}}
  </div>
  <section>
    <div id="menu-region">
      {{!-- <div class="accordion">
        <div id="menu-category-xplore" class="menucategory accordion-heading row">
            <h2 class="accordion-toggle">Small Group: Xplore</h2>
        </div>
        <div class="accordion-body">
          <div class="accordion-inner">
            <div id="lesson1" class="menuitem row">
              <div class="menuitem-info">
                <div class="menuitem-text">
                  <h2>Lesson 1: God's Heart</h2>
                </div>
              </div>
            </div>
            <div id="lesson2" class="menuitem row">
              <div class="menuitem-info">
                <div class="menuitem-text">
                  <h2>Lesson 2: THUMB</h2>
                </div>
              </div>
            </div>
            <div id="lesson3" class="menuitem row">
              <div class="menuitem-info">
                <div class="menuitem-text">
                  <h2>Lesson 3: Prayer</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="menu-category-coaching" class="menucategory accordion-heading row">
            <h2 class="accordion-toggle">Coaching Conversations</h2>
        </div>
        <div class="accordion-body">
          <div class="accordion-inner">
            <div id="lesson1" class="menuitem row">
              <div class="menuitem-info">
                <div class="menuitem-text">
                  <h2>Lesson 1: God's Heart</h2>
                </div>
              </div>
            </div>
            <div id="lesson2" class="menuitem row">
              <div class="menuitem-info">
                <div class="menuitem-text">
                  <h2>Lesson 2: THUMB</h2>
                </div>
              </div>
            </div>
            <div id="lesson3" class="menuitem row">
              <div class="menuitem-info">
                <div class="menuitem-text">
                  <h2>Lesson 3: Prayer</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="menu-category-ministry" class="menucategory accordion-heading row">
            <h2 class="accordion-toggle">Ministry Experiences</h2>
        </div>
        <div class="accordion-body">
          <div class="accordion-inner">
            <div id="lesson1" class="menuitem row">
              <div class="menuitem-info">
                <div class="menuitem-text">
                  <h2>Lesson 1: God's Heart</h2>
                </div>
              </div>
            </div>
            <div id="lesson2" class="menuitem row">
              <div class="menuitem-info">
                <div class="menuitem-text">
                  <h2>Lesson 2: THUMB</h2>
                </div>
              </div>
            </div>
            <div id="lesson3" class="menuitem row">
              <div class="menuitem-info">
                <div class="menuitem-text">
                  <h2>Lesson 3: Prayer</h2>
                </div>
              </div>
            </div>
          </div>
        </div> --}}
      </div>
    </section>
  </div>
</div>